<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Все машины</title>
</head>
<body>
<table border="2">
    <tr>
        <th>model</th>
        <th>colour</th>
        <th>age</th>
        <th>carByUser</th>
    </tr>

    <tr th:block th:each="User : ${users}">
        <td th:text="${User.getName()}">user</td>
        <td th:text="${User.getSurname()}">user</td>
        <td th:text="${User.getAge()}">user</td>
        <td th:text="${User.getCarByUser()}">user</td>
    </tr>
</table>
</body>
</html>

